body {
    background: black;
    padding: 0;
    margin: 0;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background: rgb(60, 60, 65);
    color: white;
    -webkit-app-region: drag;

}

.option {
    color: white; 
    font-size: 2em;
    padding: 10px 20px;
    -webkit-app-region: no-drag;
}

.option:hover{
    background: red;
    cursor: pointer;
}

ul{
    padding: 0;
    margin: 10 10 10 10;
}

ul li {
    list-style-type: none;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 2em;
    justify-content: center;
    text-align: center;
    color: white;
    background: black;
}

li:hover{
    background: aqua;
    color: black;
}

